schemas/customs/customstypes/v1/schema.xsd



<!--
Current Version: 1.0

Document History:

0.1 (Draft):
=========
01/05/2006:  -  Document Created

0.2 (Draft):
=========
10/12/2005: - Additional types added for enquiry messages

0.3 (Draft):
=========
29/05/2006:
(1)  Namespaces have been updated.
(2)  Element "EUItemPriceAmount" minInclusive value corrected from value=2 to value=4
(3) Element "IEMethodOfPayment" added
(4) Element "IERegistered" added
(5) Element "IEValidationType" added

15/06/2006:
(1) Element "EUItemPriceAmount" - decimals are now optional.
(2) Wco108 - decimals are now optional.
(3) Wco109 - decimals are now optional.
(4) Wco110 - decimals are now optional.
(5) Wco111 - decimals are now optional.
(6) Wco112 - decimals are now optional.
(7) Wco114 - decimals are now optional.
(8) Wco115 - decimals are now optional.
(9) Wco116 - decimals are now optional.
(10) Wco117 - decimals are now optional.
(11) Wco120 - decimals are now optional.
(12) Wco121 - decimals are now optional.
(13) Wco123 - decimals are now optional.
(14) Wco125 - decimals are now optional.
(15) Wco126 - decimals are now optional.
(16) Wco127 - decimals are now optional.
(17) Wco129 - decimals are now optional.
(18) Wco130 - decimals are now optional.
(19) Wco131 - decimals are now optional.
(20) Wco132 - decimals are now optional.
(21) Wco133 - decimals are now optional.
(22) Wco181 - decimals are now optional.
(23) Wco263 - decimals are now optional.
(24) Element "IETaxBase" has a xsd:pattern.

19/07/2006:
(1) Wco128 changed is decimalised and has a xsd:pattern

20/07/2006:
(1) The size of "IEStatus" field has been increased from an2 to an15
(2) Wco006 and Wco228 maximum size has been decreased from [0-9]{1,5} to [0-9]{1,3}.
(3) Wco144 totalDigits value has been increased from 4 to 8.
(4) Element "IEErrorCode" size has been increased from an3 to an10.
(5) Element "IERegistered" removed from schema.
(6) Element "IEAccountBalance" has been added.

25/07/2006:
(1) Element "IEEdifactString" has been added.

31/07/2006:
(1) Element "IEErrorText" has been added.

03/08/2006:
(1) Element "Wco007" size has been increased from an26 to an35.

22/09/2006:
(1) Element "IETransactionId" has been added.
(2) Element "IEMailboxId" has been added.
(3) Element "IEAcknowledgementStatus" has been added.

0.4 (Draft):
=========
23/10/2006:
(1) Element "IEReferenceIdentifierList" has been added.

31/10/2006:
(1) Element "IEIERTNumber" has been added.
(2) Element "IELocalNumber" has been added.

0.5 (Draft):
=========
17/11/2006:
(1) WCO type 130 has been ammended to 3 decimal places.
(2) WCO type 118 has been ammended to 5 decimal places.
(3) Element "IEPhoneNumber" has been added.

0.6:
===
22/01/2007:
(1) Changed WCO 020 size from an16 to an18.
(2) Removed Draft Status.

0.7:
===
15/03/2007:
(1) Element "IEStatus" size changed from an15 to an3

0.8:
===
28/08/2007: - Elements added for ECS:
(1) Element "EUControlDate" has been added.
(2) Element "EUControlledBy" has been added.
(3) Element "EUStoringFlag" has been added.
(4) Element "EURejectionDate" has been added.
(5) Element "EURejectionText" has been added.
(6) Element "EURejectionCode" has been added.
(7) Element "EUActionTaken" has been added.
(8) Element "EUAuthoritiesID" has been added.

0.9:
===
02/10/2007: - Elements Added for ECS:
(1) Element "EUAuthoritiesName" has been added.
(2) Element "EUIndicator" has been added.
(3) Element "EUDescription" has been added.
(4) Element "EUValue" has been added.
(5) Element "EUAttributePointer" has been added.
(6) Element "EUPiecesNumber" has been added.

0.10
====
05/02/2008: - Changed the following element from decimal to integer:
Element "EURejectionCode" changed restriction base from xsd:decimal to xsd:iinteger


1.0:
=====
02/04/2008: - Elements Added/Amended for ECS/ICS:
(1) Element WCO076 size changed from an..11 to an..17.
(2) Element WCO082 size changed from an..11 to an..35.
(3) Elment "EUJustificationText" has been added.
(4) Element WCO050 size changed from an..16 to an..17
(5) Element WCO052 size changed from an..16 to an..17
(6) Element WCO061 size changed from an..16 to an..17
(7) Element WCO072 size changed from an..16 to an..17
(8) Renamed EUStoringFlag to EUFlag.
(9) Added EULanguageCode
(10) Added EUSpecificCircumstanceIndicator
(11) Element WCO007 size changed from an..35 to an..42
(12) Added IECustomsReferenceType with size an..70
(13) Added EUInterventionCode with size an..4
(14) Element WCO183 size changed from n1 to n2.
(15) Element WCO149 size changed from an..17 to an..35.
(16) Added EUDescriptionText
(17) IEMessageType size changed from an..3 to an..7.
(18) WCO082 size changed from an..11 to an..35.
(19) WCO007 size changed from an..42 to an..44.

1.1
=======
06/05/2009 :
(1) Changed IEInlandModeOfTransportCode totalDigits value from 1 to 2.

1.2
=======
08/10/2009:
(1) Added new element for MessageIdentification.

1.3
=======
29/10/2009
(1) Adds new type IEDateTime12 to have a date time type with length 12 without seconds
(2) Adds new type Wco142_140 to have length 140 for elements using Wco142

-->
<xsd:schema xmlns="http://www.ros.ie/schemas/customs/customstypes/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ros.ie/schemas/customs/customstypes/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="Wco001">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco002">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco003">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco004">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco005">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco006">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="3"/>
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco007">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco008">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco009">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco010">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco011">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco012">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="4"/>
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco013">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="5"/>
			<xsd:pattern value="[0-9]{1,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco014">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco015">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco016">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco017">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="2"/>
			<xsd:pattern value="[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco018">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco019">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco020">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco022">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco023">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco024">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco025">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco026">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco027">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
			<xsd:pattern value="[\-+]?[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco028">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco029">
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco030">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco031">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco032">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco033">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco034">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="170"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco035">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco036">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco037">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco038">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco039">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco040">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco041">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco042">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco043">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco044">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco045">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco046">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco047">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco048">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco049">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco050">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco051">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco052">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco053">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco054">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco055">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco056">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco057">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco058">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco059">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco060">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco061">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco062">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco063">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco064">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco065">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco066">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco067">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco068">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco069">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco070">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco071">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco072">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco073">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco074">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco075">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco076">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco077">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco078">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco079">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco080">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco081">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco082">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco083">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco084">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco085">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco086">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco087">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco088">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco089">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco090">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco091">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco092">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco093">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco094">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco095">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco096">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco097">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco098">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco099">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco101">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco102">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco103">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco104">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco105">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco106">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco107">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco108">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco109">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco110">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco111">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco112">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco113">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco114">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco115">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="4"/>
			<xsd:pattern value="[\-+]?[0-9]{1,15}[.]?[0-9]{0,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco116">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco117">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco118">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="5"/>
			<xsd:minInclusive value="0.00000"/>
			<xsd:pattern value="[0-9]{1,7}[.]?[0-9]{0,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco119">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="4"/>
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco120">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco121">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco122">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco123">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="2"/>
			<xsd:pattern value="[\-+]?[0-9]{1,8}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco124">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco125">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco126">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="11"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,8}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco127">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="6"/>
			<xsd:pattern value="[\-+]?[0-9]{1,10}[.]?[0-9]{0,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco128">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="11"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,8}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco129">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="4"/>
			<xsd:pattern value="[\-+]?[0-9]{1,15}[.]?[0-9]{0,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco130">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,11}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco131">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="11"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,8}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco132">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,11}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco133">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,11}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco134">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco135">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco136">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco137">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco138">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco139">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="8"/>
			<xsd:pattern value="[0-9]{1,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco140">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="4"/>
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco141">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco142">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco142_140">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco143">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco144">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="8"/>
			<xsd:pattern value="[0-9]{1,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco145">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco146">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="8"/>
			<xsd:pattern value="[0-9]{1,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco147">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco148">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco149">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco150">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="6"/>
			<xsd:pattern value="[0-9]{1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco151">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco152">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco154">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco156">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco157">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco158">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco159">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco160">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco161">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco162">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco163">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco164">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco165">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco166">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco167">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco169">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco170">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco171">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="4"/>
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco172">
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco173">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco174">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco175">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco176">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco177">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco178">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco179">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco180">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco181">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="16"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
			<xsd:pattern value="[0-9]{1,14}[.]?[0-9]{0,2}"/>
			<xsd:enumeration value="46">
				<xsd:annotation>
					<xsd:documentation>Deductions (Customs)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="304">
				<xsd:annotation>
					<xsd:documentation>Other charges</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco182">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco183">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco184">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco185">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco186">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco187">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco188">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco189">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco190">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco192">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco193">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco194">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco195">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco196">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco197">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco198">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco199">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco201">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco202">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco203">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco204">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco205">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco206">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="5"/>
			<xsd:pattern value="[0-9]{1,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco207">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="6"/>
			<xsd:pattern value="[0-9]{1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco208">
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco209">
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco211">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco212">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco213">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco214">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco215">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco216">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco217">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco218">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco219">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco220">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco221">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco222">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco223">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco224">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco225">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco226">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco227">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="4"/>
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco228">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="3"/>
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco229">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco232">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco233">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco234">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="2"/>
			<xsd:pattern value="[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco235">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco237">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco239">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco240">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco241">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco242">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco243">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco244">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco245">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco246">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco248">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco249">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Wco250">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco251">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco252">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco253">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco254">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco255">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco256">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco257">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco258">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco259">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco260">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco261">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco262">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco263">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="3"/>
			<xsd:pattern value="[\-+]?[0-9]{1,11}[.]?[0-9]{0,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Wco264">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WcoMessagereferencenumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WcoMessagesequencenumber">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
			<xsd:pattern value="[\-+]?[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WcoMessagetype">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="WCOCAR">
				<xsd:annotation>
					<xsd:documentation>WCO CUSCAR message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WCODEC">
				<xsd:annotation>
					<xsd:documentation>WCO CUSDEC message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WCOREP">
				<xsd:annotation>
					<xsd:documentation>WCO CUSREP message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUInterventionCode">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUProcedureSubCategory">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUAdditionalCode">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEUniqueLPRef">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="99999999"/>
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEValueDetails">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEInlandModeOfTransportCode">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="9"/>
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEPayerIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUQuotaIdentifier">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="999999"/>
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUItemPriceAmount">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="23"/>
			<xsd:fractionDigits value="4"/>
			<xsd:minInclusive value="0.0000"/>
			<xsd:pattern value="[0-9]{1,19}[.]?[0-9]{0,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IERiskRouting">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETaxBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0000"/>
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="4"/>
			<xsd:pattern value="[0-9]{1,15}[.]?[0-9]{0,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEMessageName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEMessageType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEErrorCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEFieldIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDate">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDateTime">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDateTime12">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETraderIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETraderTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEReferenceTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEStatus">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDataCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDataDescription">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETaxType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEBalanceAmount">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEDebitAmount">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETotalAmount">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEMethodOfPaymentCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEValidationType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IECustomsReferenceType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AcknowledgementType">
		<xsd:attribute name="success" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="IEAccountBalance">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEEdifactString">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IEErrorText">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IETransactionId">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEMailboxId">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEAcknowledgementStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SUCCESS"/>
			<xsd:enumeration value="EXPIRED"/>
			<xsd:enumeration value="NOT_FOUND"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEReferenceIdentifierList">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEIERTNumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IELocalNumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IEPhoneNumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EULanguageCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUSpecificCircumstanceIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUControlDate">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUControlledBy">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUFlag">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="EURejectionDate">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EURejectionText">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="350"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EURejectionCode">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="EUActionTaken">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="350"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUAuthoritiesID">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUAuthoritiesName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUIndicator">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUDescription">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUValue">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUAttributePointer">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUPiecesNumber">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="8"/>
			<xsd:pattern value="[0-9]{1,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUJustificationText">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="350"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUDescriptionText">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="280"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EUMessageIdentification">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>




